<html>

    <body>
      <center>

         <h2><font color="#01DFD7">Contact book</font></h2>
         <h3><a href="/createForm"><font color="#04B404">Create contact</font></a></h3>
         <h3><a href="/updateForm"><font color="#04B404">Update contact</font></a></h3>
         <h3><a href="/deleteForm"><font color="#04B404">Delete contact</font></a></h3>
         <h3><a href="/listForm"><font color="#04B404">Show contacts</a></font></h3>
         <h3><a href="/listjsonForm"><font color="#04B404">Show Json Data</a></font></h3>
         </center>
         </body>
         </html>
