<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
 <center>
    <h1><font color="#01DFD7">Enter your contact details</font></h1>
    <form action="http://127.0.0.1:5000/insert" method="post">
    <table border="0">
    <tr>
     <th>Name:</th>
     <td><input type="text" name="t_name" placeholder="required"></td>
    </tr>
    <tr>
     <th>Phone:</th>
     <td><input type="text" name="t_phone" placeholder="required"></td>
    </tr> 
    <tr>
     <th>Phone2:</th>
     <td><input type="text" name="t_phone2" placeholder="required"></td>
    </tr>
    <tr>
    <th><input type="submit" value="Submit"></th>
    <td><input type="reset" value="Reset"></td>
    </tr
</table>
    	

    </form>	
 

 </center>
</body>
</html>
